body{
    margin: 0;
    padding: 0;
}
.MainContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  background: url('/static/css/sales_60.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.card a{
    text-decoration: none;
    font-size: 15px;
}
.card h1 {
  font-size: 45px;
  /* line-height: 80px; */
}
.card p {
  /* font-size: 20px; */
  padding: 0px;
  margin: 0px;
}
.card button {
  width: 100%;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
  margin-right: 7px;
  color: redeccapurple;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  align-self:center;
}
.card {
  color: white;
  height: 300px;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  background: linear-gradient(#270b60, #270b60);
  margin: 10px;
}
